<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <h2 class="title">Users</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="row align-items-center">

          <div class="col-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label for="fname" class="label col-form-label">First name</label>
              <div>
                <input type="text" [(ngModel)]="usermodel.firstName">
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label for="lname" class="label col-form-label">Last name</label>
              <div>
                <input type="text" [(ngModel)]="usermodel.lastName">
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label for="email" class="label col-form-label">Email</label>
              <div>
                <input type="text" [(ngModel)]="usermodel.email">
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label for="uname" class="label col-form-label">Username</label>
              <div>
                <input type="text" [(ngModel)]="usermodel.userName">
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6">
            <div class="form-group">
              <label for="uname" class="label col-form-label">Password</label>
              <div>
                <input type="password" [(ngModel)]="usermodel.password">
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 text-right">
            <button type="button" nbButton status="info" (click)="save()">Save</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header class="row align-items-center">
        <div class="col-6">
          <h2 class="title">Users</h2>
        </div>
      </mat-card-header>

      <mat-card-content>
        <hr>
        <div class="">
          <div class="table-container">
            <mat-table #table [dataSource]="usersList" class="mat-elevation-z8">

              <ng-container matColumnDef="fname">
                <th mat-header-cell *matHeaderCellDef> First name </th>
                <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
              </ng-container>

              <ng-container matColumnDef="lname">
                <th mat-header-cell *matHeaderCellDef> Last name </th>
                <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
              </ng-container>

              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let row"> {{row.userName}} </td>
              </ng-container>

              <!-- Action -->
              <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                  <button (click)="updateUser(row)">
                    Update
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                  <button (click)="deleteUser(row.id)">
                    Delete
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-element-row">
              </tr>
            </mat-table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>